{% extends "base.html" %}
{% block content %}
    <table border="1">
    {% for item in items %}
        <tr>
            <td><a href="/order/{{ item.ord_ID }}">{{ item.ord_Code }}</a></td>
            <td>{{ item.ord_CustomerOrderCode }}</td>
            <td>{{ item.ord_InputDate }}</td>
                {% if item.ord_StatusID == 1 %} <td bgcolor="aqua">В ожидании</td>
                {% elif  item.ord_StatusID == 2 %} <td bgcolor="#7fff00">В работе</td>
                {% elif  item.ord_StatusID == 3 %} <td bgcolor="#faebd7">Выполнен</td>
                {% endif %}

        </tr>
    {% endfor %}
    </table>
{% endblock %}